{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}

    <h1> Criar/Atualizar Departamento </h1>

    <br>

    <form method="POST">

        {% csrf_token %}
        {{ form|bootstrap }}
        <br>
        <button type="submit" class="btn btn-info">Salvar</button>

        <!-- O COMANDO ABAIXO , SERVE PARA INCLUIRMOS UM BOTAO DE DELETE DENTRO DO FORM, OPCAO AO BOTAO NO LIST -->
        {% if object %}
            <a href="{% url 'delete_departamento' object.id %}" class="btn btn-danger"> Deletar </a>
        {% endif %}

    </form>

{% endblock %}